// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.clickable {
    cursor: pointer;
}
.movable {
    cursor: pointer;
}
.moving {
    cursor: default;
}
.ew-resizable {
    cursor: ew-resize;
}

/* 点滅 */
// https://www.will-hp.com/wpblog/web/72/
.blinking{
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.desired {
    &__th {
        &--sunday {
            color:red;
        }
        &--saturday {
            color:blue;
        }
    }
}
